.owl-ajax-loading(ng-show="loading === true")
	.owl-ajax-loading-interior
		#owl-spin
			p.owl-ajax-loading-label(ng-show="takingAWhile !== true") Loading data...
			p(ng-show="takingAWhile === true") Sorry, things are taking a little longer than normal...
