.form-inline.owl-top-control-right.owl-top-control-mass-update(ng-if="options.massUpdate === true")
	.form-group
		.checkbox
			label
				button.btn.btn-sm.btn-primary#massUpdate(ng-click="massUpdateCtrl.massUpdateModal()") Mass Update
	
