.owl-pagination-buttons.active
	button.owl-pagination-button.owl-previous-page
		| &lt; Prev
	
	.owl-page-count
		| Page 
		input(type="text", size="3")
		| &nbsp;&nbsp;of 1
	
	button.owl-pagination-button.owl-next-page
		| Next &gt;
