.container-fluid.owl-wrapper
	
	.owl-top-controls
		owl-pagination
		owl-export-buttons
		owl-filter-controls
	
		button.btn.btn-lg.btn-default#saveButton
	
	.owl-table-wrapper.table-responsive
		.owl-table-inner-wrapper
			
			.owl-react-container
				
	owl-pagination
	
