.container-fluid.owl-wrapper
	
	.owl-top-controls
		owl-pagination
		owl-export-controls
		owl-filter-controls
	
		button.btn.btn-sm.btn-default#saveButton(ng-click="saveButtonClicked()")
			| Save
	
	.owl-table-wrapper.table-responsive
		.owl-table-inner-wrapper
			
			.owl-react-container(ng-hide="loading === true")
				
			.owl-ajax-loading(ng-show="loading === true")
				.owl-ajax-loading-interior#owl-spin
				
	owl-pagination
