.owl-export-controls, .owl-filter-controls {

	vertical-align: middle;
	display: inline-block;
	width: auto;

	border: 1px solid #AAAAAA;
	border-radius: 4px;

	margin-top: 5px;
	margin-bottom: 5px;

	.owl-control-label {
		float: left;
		display: inline-block;

		background-color: #66AADD;
		color: #FFFFFF;
		font-weight: bold;

		padding: 2px 5px;
	}

	.owl-export-buttons, .owl-filter-buttons {
		display: inline-block;

		margin: 1px;
	}

	.owl-export-buttons {
		vertical-align: middle;
		display: inline-block;
		height: 16px;

		.owl-export-button-csv {
			background-color: red;
		}

		.owl-export-button-print {
			background-color: green;
		}

		.owl-export-button-csv, .owl-export-button-print {
			float: left;
			height: 16px;
			width: 16px;

			cursor: pointer;

			background-size: 16px 16px;
			background: transparent center;
		}
	}

	.owl-filter-controls {
		margin-left: 0.5em;
		cursor: pointer;
	}

	.owl-filter-buttons {
		padding: 0 10px;
		font-weight: bold;
	}
}

@import './pagination';
