.owl-pagination-buttons {
	vertical-align: middle;
	margin-right: 20px;
	margin-top: 5px;
	float: left;
	display: inline-block;
	font-size: 0.8em;

	.owl-page-count {
		margin: 3px;
		float: left;
		input {
			margin-left: 2px;
			width: 2.5em;
			text-align: center;
		}
	}

	.active {
		display: inline-block;
	}

	.owl-pagination-button {
		margin: 5px 10px;
		float: left;
		display: inline-block;
		vertical-align: middle;
		width: 70px;
		line-height: 14px;
		padding: 2px;
	}
}
