@media screen {
	#owlPrintSection {
		display: none;
	}

	.owl-table-print, .owl-table-print * {
		display: none;
	}
}

@media print {
	body * {
		visibility: hidden;
	}

	#owlPrintSection, #owlPrintSection * {
		visibility: visible;
	}

	#owlPrintSection {
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		max-width: 100% !important;
		overflow: hidden;
		margin: 0;
		padding: 0;
	}

	#owlPrintSection .owl-editable {
		border: none;
	}

	#owlPrintSection {
		font-size: 12pt;
		color: #000;
	}

	@page {
		margin: 2cm;
	}
}
